.card{
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: var(--body-card);
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem var(--border);
    color: var(--text-menu);
}

.card .card-head{
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    font-weight: 600;
}
.card .card-body {
    padding: 1rem 1.5rem;

}
h1{
    color: var(--text-menu); 
}
