
/* You can add global styles to this file, and also import other style files */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
  @import '~@angular/cdk/overlay-prebuilt.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --body: #f4f7fa;
  --text-menu: #495057;
  --body-card: #fff;
  --border: #e6edef;
  --borde2: #8690a3;
  --icon: #495057;
  --icon-b: #eff2f3;
  --side:green;
  --desc: #eff2ef
  
}
:root .dark{
  --body: #3c3c3c;
  --text-menu: #fff;
  --body-card:#2f2f2f;
  --border: #0f0f0f;
  --borde2: #0f0f0f;
  --icon: #fff;
  --icon-b: #444040;
  --side: #04483c;
  --desc: #272626;
  
}

body{
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: var(--body);
}
